*{

margin: 0;
padding: 0;
font-family: 'poppins', sans-serif;
box-sizing: border-box;

}
@font-face {
    font-family: "Dongle-light";
    src: url("../css/Dongle/Dongle-Light.ttf");
}
@font-face {
    font-family: "Dongle-regular";
    src: url("../css/Dongle/Dongle-Regular.ttf");
}
@font-face {
    font-family: "Dongle-bold";
    src: url("../css/Dongle/Dongle-Bold.ttf");
}

.hero{
    width: 100%;
    height: 100vh;
   
    background-size: cover;
    background-image: url(../img/J14.jpg);
    
    background-position : center;
    
    display: flex;
    align-items: center;
    justify-content: center;


}


form{

    width: 80%;
    max-width: 550px;
    opacity: 8;
    background-color:rgba(214, 201, 201, 0.3) ;
    margin-top: 40px;
    padding: 50px 20px 30px;
    border-radius: 8px;

}

.login-box h2{
    margin-left: 10%;
    margin-top: 0px;
    padding-bottom: 2px;
    font-family:"Dongle-bold" ;
    color:  #0C2D48  ;
    font-size: 50px;

}

.add-image{
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    width: 100%;
    padding: 5px;
    margin-top: 5px;
    outline: 0;
    border: 1px solid #fff;
    color:  #0C2D48 ;
    background: transparent;
    font-family: "Dongle-regular";
    font-size: 15px;
    transition: 0.2s;
    
    font-size: 24px;
    border-radius:10px;
    background: #f1f1f1;
    
    
    
    
}

label{
    height: 100%;
    position: absolute;
    left: 20px;
    top: 0;
    padding: 10px;
    color: #0C2D48 ;
    cursor: text;
    transition: 0.2s;
    font-family: "Dongle-regular";
    font-size: 26px;
    
}
.im label{
    height: 100%;
    position: absolute;
    left: 400px;
    top: 0;
}
button{
    padding: 1px 0;
    color: #fff;
    outline: none;
    background: #0C2D48 ;
    border: 1px solid #fff;
    width: 100%;
    cursor: pointer;
    font-family: "Dongle-bold";
    font-size: 26px;
    border-radius:10px;
    

}

.addbtn  :hover {
    opacity:0.8;
  }

input:focus~label,
input:valid~label{
    top: -35px;
    font-size: 26px;
}

textarea:focus~label,
textarea:valid~label{
    top: -35px;
    font-size: 26px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row .add-image{
    flex-basis: 48%;
}
