body{
    
    background-size: cover;
}
#form{
    background-image:linear-gradient(rgba(151, 151, 230, 0.8),rgba(142, 142, 150, 0.8)),url( img/j2.jpg);
    height:500px;
    width:800px;
    margin:auto;
    padding:40px;
    opacity: 0.7;
}
#form h3{
    border-bottom: 2px solid #252627;
    width:210px;
    padding: 5px;
    align-items: center;
    font-size: 1.5rem;
}

::placeholder{
    color:#2b2929
}
#input #input-group{
    width:300px;
    margin:8px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none ;
    background: transparent;
    color:rgb(53, 53, 228);
    
}
#input2 #input-group{
    width:195px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:rgb(53, 53, 228);
   
}
#input3 #input-group{
    margin-left: 50px;
}
#input4 #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:rgb(53, 53, 228);
    
}
#input4 #input-group1{
    width:615px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:rgb(53, 53, 228);
}

#input5 #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:rgb(53, 53, 228);
    
}
#input5 #input-group1{
    width:615px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:rgb(53, 53, 228);
    
}

#input6 #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:rgb(53, 53, 228);
    
}
#input6 #input-group1{
    width:615px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:rgb(53, 53, 228);
    
}

#input7 #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:rgb(53, 53, 228);
   
}
#input7 #input-group1{
    width:615px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:rgb(53, 53, 228);
    
}
#input5 h3{
    border-bottom: 2px solid #3399ff;
    width:220px;
    padding: 5px;
}
#input6 #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:rgb(53, 53, 228);
    
}
#input6 #input-group1{
    width:615px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:rgb(53, 53, 228);
    
}

#input8 #input-group{
    width:195px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:rgb(53, 53, 228);
    
}

button{
    border: 1px solid #3498db;
    background-color: blue;
    color: white;
    height: 50px;
    width: 100px;
    border-radius: 5px;
    margin: 0px;
    transition: all 0.3s;
}

button:hover{
    transform: scale(1.1);
    background: #1c0a51;
    color: #f4f5fb;
}
