*{

    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    
    }
    @font-face {
        font-family: "Dongle-light";
        src: url("Dongle/Dongle-Light.ttf");
    }
    @font-face {
        font-family: "Dongle-regular";
        src: url("Dongle/Dongle-Regular.ttf");
    }
    @font-face {
        font-family: "Dongle-bold";
        src: url("Dongle/Dongle-Bold.ttf");
    }
    
    .hero{
        width: 100%;
        height: 100%;
       
        background-size: cover;
        background-image: linear-gradient(#3c3c3fcc,rgb(230, 233, 236)), url(../img/j14.jpg);;
        
        background-position : center;
        
        display: flex;
        align-items: center;
        justify-content: center;
    
    
    }
    
    
    form{
    
        width: 80%;
        max-width: 550px;
        opacity: 8;
        background-color:rgba(250, 247, 247, 0.3) ;
        margin-top: 80px;
        padding: 50px 20px 30px;
        border-radius: 8px;
    
    }
    
    .formhead h2{
        margin-left: 0%;
        margin-top: -10px;
        padding-bottom: 2px;
        font-family:"Dongle-bold" ;
        color:  #0C2D48  ;
        font-size: 50px;
    
    }
    
    .form-box{
        margin-bottom: 30px;
        position: relative;
    }
    
    input, textarea{
        width: 100%;
        padding: 10px;
        margin-top: 5px;
        outline: 0;
        border: 1px solid #fff;
        color:  #0C2D48 ;
        background: transparent;
        font-family: "Dongle-regular";
        font-size: 15px;
        transition: 0.2s;
        
        font-size: 20px;
        border-radius:10px;
        background: #f1f1f1;
        
    }
    
    label{
        height: 100%;
        position: absolute;
        left: 20px;
        top: 0;
        padding: 10px;
        color: #0C2D48 ;
        cursor: text;
        transition: 0.2s;
        font-family: "Dongle-regular";
        font-size: 26px;
        
    }
    .im label{
        height: 100%;
        position: absolute;
        left: 400px;
        top: 0;
    }
    .list{
        height: 100%;
        position:relative;
       
        padding: 10px;
        color: #0C2D48 ;
        
        
        font-family: "Dongle-regular";
        font-size: 26px;
    }
    
   
      
    button{
        padding: 1px 0;
        color: #fff;
        outline: none;
        background: #0C2D48 ;
        border: 1px solid #fff;
        width: 100%;
        cursor: pointer;
        font-family: "Dongle-bold";
        font-size: 26px;
        border-radius:10px;
        
    
    }
    
    .addbtn  :hover {
        opacity:0.8;
      }
    
    input:focus~label,
    input:valid~label{
        top: -35px;
        font-size: 26px;
    }
    
    textarea:focus~label,
    textarea:valid~label{
        top: -35px;
        font-size: 26px;
    }
    
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .row .add-image{
        flex-basis: 48%;
    }