*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    background-image:linear-gradient(#3c3c3fcc,rgb(230, 233, 236)), url(../img/j14.jpg);
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:30px ;
}
.gallery img{
    width: 100%;
}
#addbtn{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #4070f4;
    border-radius: 10px;
    margin: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
      }
      .addbtn .hover{
        background: #626672;
      }
    