body{
    font-family: sans-serif;
    color: #3c3939;
    background-color:#f1f1f1 ;

}
.profile-card{
 width: 400px;
 margin: auto;
 background: #fff;
 box-shadow: 0 4px 10px 0 rgba(0,0 ,0,5); 
 border-radius: 10px;
}
.image-container{
    position: relative;
    border-radius: 10px;
    size: 10px;
}
.info{
    color: #050568;
    margin-right: 16px;
    margin-left: 10px;
    
}
.main-container{
    padding: -10px;
}
.button{
border: none;
font-size: 16px;
color: #fff;
padding: 8px 16px;
background-color: #4070f4;
border-radius: 10px;
margin: 14px;
cursor: pointer;
transition: all 0.3s ease;
  }
  .button.hover{
    background: #265DF2;
  }
